# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [2]:
# Import the data
lending_data = pd.read_csv("Resources/lending_data.csv")

In [16]:
lending_data.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804,0.032243
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077,0.176646
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000,0.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000,0.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000,0.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000,1.000000

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

*Replace the text in this markdown cell with your predictions, and be sure to provide justification for your guess.*

## Split the Data into Training and Testing Sets

In [ ]:
#My prediction is that the logistic regression will perform better due to its tendency to perform better with numerical data while random forest classifier is better for categorical.

In [6]:
# Split the data into X_train, X_test, y_train, y_test
X = lending_data.drop(columns=["loan_status"])
y = lending_data["loan_status"]
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [7]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
45882,9100.0,6.976,46200,0.350649,3,0,16200
42828,10100.0,7.405,50300,0.403579,4,1,20300
48408,7300.0,6.218,39100,0.232737,2,0,9100
15328,8200.0,6.617,42900,0.300699,2,0,12900
13747,9000.0,6.944,45900,0.346405,3,0,15900

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [13]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
training_score = classifier.score(X_train, y_train)
testing_score = classifier.score(X_test, y_test)

print(f"Training data score: {training_score}")
print(f"Testing data score: {testing_score}")

Training data score: 0.9920896959691842
Testing data score: 0.9920553033429633

In [14]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)
training_score = classifier.score(X_train, y_train)
testing_score = classifier.score(X_test, y_test)

print(f"Training data score: {training_score}")
print(f"Testing data score: {testing_score}")

Training data score: 0.9974893382858715
Testing data score: 0.9914878250103177

*Which model performed better? How does that compare to your prediction? Replace the text in this markdown cell with your answers to these questions.*

In [ ]:
#The logistic regression model performed better, with a test score of 0.9920553033429633, which was in line with my prediction. However, I did not expect the difference to be so slight.